settings.json

# datadragon dump of champion information
raw_champs.json
__pycache__/
*.py[cod]
*$py.class

.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix